.form {
    display: flex;
    align-items: center;
    justify-content: center;
    gap:2em;
}

.inputArea {
    position: relative;
}

.searchIcon {
    color: white;
    position: absolute;
    inline-size: 20px;
    top:50%;
    left:20px;
    transform: translateY(-50%);
    pointer-events: none;
}

.input {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em 0.6em 3em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: #1a1a1a;
    cursor: pointer;
    transition: border-color 0.25s;
}

.input:hover {
    border-color: #646cff;
}
.input:focus,
.input:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
}
