@import '../../assets/styles/common.css';

.header {
    border-bottom: 1px solid var(--colors-interface-ford-white);
    position: relative;
    margin-bottom: 10px;
}

.header__container {
    display: flex;
    justify-content: space-between;
    padding: 0 5px;
    align-items: center;
}

.header_mobile {
    border-bottom: 0;
    padding-bottom: 1px;
}

.header__logo {
    display: flex;
    align-items: center;
}

.header__logo_mobile {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.header__menu__item {
    color: var(--colors-interface-white);
}

@media (max-width: 1150px) {
    .header__container {
        max-width: 1000px;
    }
}

@media (max-width: 920px) {
    .header {
        margin-top: 0;
        margin-bottom: 0;
    }

    .header__container {
        display: flex;
        justify-content: flex-end;
        min-height: 60px;
        padding-inline-end: 5%;
    }
}

@media (max-width: 550px) {
    .header__container {
        margin-bottom: 0;
        padding: 0;
        padding-inline-end: 5%;
    }
}